div{border:10px ridge #F9A063;
		margin: 100px;
		padding:50px;font-size: 30;
		background-color: darkblue;
		color:white;
		font-family: arial
		}
h1{background-color: lightblue;
				width:260px;}
span{color:yellow;
			text-decoration: underline;}