/* get rid of all the margins and padding*/
*{margin: 0px;
padding: 0px;
}
.container{
	width: 946px;
height: 530px;
}

div{
	background-color: black;
	color: white;
	font-size: 10
}
p{
	font-size: 9
}

.heading{float: left;
margin-left: 45px}

li{list-style-type: none;}

.ul1{
	margin-right: 65px
}

.li1{float: right;
line-height: 1;
list-style-type: none;
background-color: black;
color: white;
padding: 17px;
}

.mainimg{clear: both;
width: 946px; }

/* section starting */
.section1{width: 400px;
height: 300px;
margin-left: 80px}

.heading1sub{
	float: left;
	width: 190px;
	height: 140px
}

#heading1sub2{
	margin-left: -60px
}
.subimg{
	width: 100px;
	height: 60px
}

.subsections{
	width: 250px;
	margin-left: 320px;
	margin-top: -140px
}

aside{float: right;
width: 200px;
margin-top: -290px;
margin-right: 60px}

a{ color: white}